body {
  font-family: var(--font-main);
  color: var(--clr-black);
}
.project {
  display: grid;
  grid-template-columns: 68% 32%;
  padding: 60px;
  width: 100%;
  height: 90%;
  background-color: var(--clr-bg);
}
.bg {
  background-image: url("./assets/images/bg2.jpg");
  padding: 50px;
}

.product-section {
  padding: 20px;
}

.product-section h1 {
  margin-bottom: 2rem;
}

@media (max-width: 1540px) {
  .project {
    grid-template-columns: 55% 40%;
    justify-content: space-between;
  }
}

@media (max-width: 1430px) {
  .modal-content {
    width: 40% !important;
  }
}

@media (max-width: 1330px) {
  .project {
    grid-template-columns: 1fr;
  }
  .cart {
    padding: 20px;
  }
  .project .cart-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: none;
  }
  .project .cart-section .cart {
    max-width: 700px;
  }
}

@media (max-width: 1040) {
  .modal-content {
    width: 50% !important;
  }
}

@media (max-width: 845px) {
  .modal-content {
    width: 60% !important;
  }
  .product-section {
    padding: 0;
  }
  .project {
    padding: 30px;
  }
  .bg {
    padding: 20px;
  }
}

@media (max-width: 673px) {
  .modal-content {
    width: 80% !important;
  }
  .product-section h1 {
    text-align: center;
  }
  .bg {
    padding: 0;
    background-image: none;
  }
  .project {
    padding: 30px 15px 20px 15px;
  }
}

@media (max-width: 673px) {
  .cart {
    padding: 10px !important;
  }
  .project .cart-section {
    padding: 0;
  }
  .product-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product {
    width: 100% !important;
    max-width: 350px;
  }
}
@media (max-width: 450px) {
  .modal-content {
    width: 100% !important;
    bottom: 0;
    position: absolute;
  }
}
